.popup-box {
  /* background-color: rgba(200,200,200); */
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1000;
}
.top-modal-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popup-content-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 2.3rem 0rem;
  height: 45rem;
  width: 40rem;
  display: flex;

  flex-direction: column;
}
.modal-header {
  text-align: center;
}
.modal-header span {
  font-family: "Trap";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 150%;
}
.modal p {
  font-family: "Trap";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 132%;
}
.screen-box {
  display: flex;

  justify-content: center;
}
.modal-screen {
  background-color: var(--orange);
  box-shadow: 0px 12px 23px rgba(62, 73, 84, 0.12);
  height: 9rem;
  border-radius: 20px;
  padding: 0.5rem 1.5rem 1.3rem 1.5rem;
  color: #fff;
  width: 85%;
  margin-top: 1rem;
}
.convert-heading {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  line-height: 31px;
}
.modal-screen-body {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-between;
}
.modal-screen-body p {
  font-family: "Trap";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 31px;
  margin-top: 1rem;
}

.popup-form-box {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  padding: 0rem 6rem 0rem 6rem;
  /* margin: auto; */
  margin-top: 2rem;
}

.form-box {
  width: 100%;
}
.sign-box {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  padding: 0rem 0rem 0rem 0.6rem;
}
.main-input-box {
  border: 1px solid transparent;
  display: flex;
  background-color: #eeeeee;
  height: 4.5rem;
  border-radius: 12px;
}
.form-one span {
  font-family: "Trap";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: black;
  line-height: 24px;
}

.edit {
  color: black !important;
}
input:focus {
  outline: none;
}
input {
  width: 80%;
  background-color: #eeeeee;
  font-size: 16px !important;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: black;
}
.rate-btn {
  background-color: black;
  color: #fff;
  width: 100%;
  height: 5rem;
  font-family: 'Outfit';
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  border-radius: 24px;
  margin-top: 6rem;
}

input[type="text"] {
  border: 1px solid transparent;
}
