.overview {
  height: 4rem;
  /* position: absolute; */
  top: 6rem;
  margin-left: 2rem;
}

h2 {
  font-family: Trap;
  font-size: 28px;
  font-weight: 700;
  line-height: 2px;
  letter-spacing: -0.04em;
  text-align: left;
}

.over {
  font-family: "Outfit";
  font-size: 18px;
  font-weight: 200;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: left;
}
